<div class = "container">
    <div class="row justify-content-center"> <!-- Center the row horizontally -->
        <div class="col-12 text-center"> <!-- Center the content within the column -->
            <div class="month-name">

                <h3><a routerLink="" style="color: #000;"><i class="bi bi-arrow-left-square"></i></a></h3>
                <h3><span>{{maandString}} {{maandJaar}}</span></h3>

                <div class="additional-column ">
                    <h5>Totale inkomen: SRD {{maandInkomen}}</h5>
                    <h5 style="background-color: #333; color: white; border-radius: 4px;">Rest: SRD {{maandInkomen - totaalAlles}} </h5>
                    <!-- <ng-template #notNull>
                        <h5>Rest: SRD {{maandInkomen - totaalAlles}}</h5>
                    </ng-template> -->
                </div>
               
            </div>

            
        </div>
    </div>
    <table style="width: 100%;">
        <thead>
            <tr >
                
                <th style="padding-left: 10px;">Datum</th>
                <th style="padding-left: 10px;">Onderwerp</th>
                <th style="padding-left: 10px;">Totaal</th>
                <th style="padding-left: 10px;"></th>
                
            </tr>
        </thead>
        <tbody>

           
                <tr >
                    <!-- <td><input type="number" class="form-control"[(ngModel)]="id" style="display: none;"></td>               -->
                    <td><input type="date" class="form-control" placeholder="datum" [(ngModel)]="datum"></td>
                    <td><input type="text" class="form-control" placeholder="onderwerp" [(ngModel)]="onderwerp"></td>
                    <td><input id="uitgaveTotaal" type="number" class="form-control" placeholder="totaal" [(ngModel)]="totaal"></td>

                    <!-- <td><input type="text" class="form-control" placeholder="datum" formControlName="datum1"></td>
                    <td><input type="text" class="form-control" placeholder="onderwerp" formControlName="onderwerp1"></td>
                    <td><input type="text" class="form-control" placeholder="totaal" formControlName="totaal1"></td> -->

                    <td>
                        <button class="btn btn-table" type="submit" (click)="createUitgaveMaandApi()">Save Uitgave</button>
                    </td>
                    <!-- <div *ngIf="registerUitgave.invalid && (registerUitgave.dirty || registerUitgave.touched)" class="text-danger">
                        Vul alle velden in.
                      </div>
                 -->
                </tr>

                <tr *ngFor="let uitgaveElement of uitgavenApi" style="margin-bottom: 2px;"
                >
                    
                    <td class="data-table" style="border-left: none;" >{{uitgaveElement.datum}}</td>

                    <td class="data-table">
                        <div class="d-flex justify-content-between align-items-center" style="padding-right: 5px;">

                            <div *ngIf="isEditing && editingUitgave.id == uitgaveElement.id; else notEditing" class="input-group">
                             <input (keydown.enter)="stopEditingOnderwerp(editedOnderwerp)"  [(ngModel)]="editedOnderwerp" >
                             <span class="input-group-text" style="cursor: pointer;" (click)="cancelEditingOnderwerp()">
                                <i class="bi bi-x-lg" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); " ></i>
                             </span>
                            </div>
                          <ng-template #notEditing>
                            <span>{{uitgaveElement.onderwerp}}</span>
                            <i class="bi bi-pencil-square" style="cursor: pointer;"(click)="startEditingOnderwerp(uitgaveElement)"></i></ng-template>
                        </div>
                    
                    </td>

                    <td class="data-table">{{uitgaveElement.totaal}}</td>

                    <td>
                    
                            <button type="button" class="btn del-button" (click)="deleteUitgave(uitgaveElement.id)" >
                             <i class="bi bi-trash-fill" style="padding-right: 8px; "></i> <strong>DELETE</strong>
                            </button>

                            
                        
                        
                    </td>
                   
                    
                    
                </tr>

                <tr class="separator" >
                    <td colspan="3"></td>
                </tr>

           
            <tr>
                <td></td>
                
                

                <td>Totale uitgaven: </td>
                <td class="boxed-cell"></td>
                
                

                
            </tr>
            
        </tbody>
    </table>
</div>
